*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.slogan{
    background-color: #FDE68A;
    text-align: center;
    padding: 30px 0;
    border-radius: 0px;
    color: #92400E;
    font-family: 'Avenir', sans-serif;

}
.slogan h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 1.7;
}
.slogan p{
    font-size: 22px;
    color: #3F2A1D;
    margin-bottom: 10px;
}

.home{
    background-color: #FED7AA;
    color: #92400E;
    display: flex;
    justify-content: center;
    padding: 4px 0;
    text-decoration: none;
    font-size: 16px;
    font-weight: 550;
    font-family: 'Avenir', sans-serif;
    gap: 30px;
    margin: 0;
}
.home a{
    color: #92400E;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    padding: 4px 0;
    border-radius: 8px 8px;
    transition: all 0.3s ease-in-out;
    margin: 0;
    font-size: 16px;
}

.home a:hover{
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    background-color:#C2410C;
    border-radius: 5px;
    padding: 8px 8px;
    transform: translateY(-2px) scale(1.1);
    margin: 0;
    font-size: 16px;
}




